<div id="<%= dom_id user %>" class="flex flex-col justify-center gap-2">
  <div class="flex flex-col ">
    <div class="flex flex-row gap-2">
      <h4>Email: </h4>
      <p><%= user.email %></p>
    </div>
    <div class="flex flex-row gap-2">
      <h4>Username: </h4>
      <p><%= user&.username %></p>
    </div>
  </div>
  <div class="justify-self-end">
    <%= link_to "Back", :back, class: "btn-primary" %>
  </div>
  
</div>
