<% if current_user %>
  <h2 class="py-2">This is a home page of <span class="font-bold"><%= current_user.email %></span></h2>

  <h3 class="font-bold">Users:</h3>
  <ul class="list-inside list-disc">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user) %>
      </li>
    <% end %>
  </ul>
<% end %>

